body {
    margin: 0%;
}

header {
    background-color: olive;
    padding: 0.5px;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;


}

header a {
    text-decoration: none;
    color: orange;
}

ul li {
    display: inline;

}

ul {
    position: absolute;
    top: 0px;
    right: 30px;
    margin: 0.5;
}

main {
    margin-top: 3rem;

}

section#Home {
    min-height: 80vh;
    background-image: url("./Imgeneshtml/fumaca-jalapao.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;


}

section div#Presentacion {
    color: chartreuse;
    text-align: right;
    padding: 30px;
    left: 0px;
    bottom: 0px;


}

section div#Presentacion img {
    visibility: hidden;
}

Section#Historia{
    text-align: center;
    padding: 0px 75px; 
}